@import url("cabecalho.css");
@import url("menu.css");
@import url("cartao.css");
@import url("picos.css");

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root {
    --fundo-principal: #1D232A;
    --menu: #15191C;
    --cartao: #2C343A;
    --branco: #FFFFFF;
    --cinza: #95999C;
    --links: #0480DC;
    --botao: #0480DC;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

body {
    font-family: 'Open Sans', 'icones';
    font-size: 16px;
    font-weight: 400;
    color: var(--branco);
    background-color: var(--fundo-principal);
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
    }
}